{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <p>В мире развитых технологий, где клоны стали обыденностью настолько, что заменяют людей даже в постели, настоящая любовь уже, кажется, и не нужна. Главная тестировщица линейки "любовных клонов" получает на руки новую модель как раз тогда, когда её собственный брак трещит по швам. В объятиях "неживого" партнёра женщина понимает, каким же страшным человеком является её муж, но сможет ли она, задыхающаяся от жажды мести, остановиться, прежде чем шагнёт на дорогу, с которой уже не будет возврата?</p>
        <button class="btn btn-danger">Жмяк</button>
    </div>
{% endblock %}
